body
{
    margin:30px;
    font-family: 'Fira Sans', sans-serif;
    font-size: small;
}

.error {
    width  : 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
  }

label[for=saveChooser] {
    font-size: small;
    margin-top: 10px;
}

button#submitbtn {
    margin-top: 50px;
}

button#quit {
    visibility: hidden;
    float: right;
    margin-top: -40px;
}

#ElapsedTime {
    float: center;
    text-align: center;
    margin-top: 10px;
}